<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script type="text/javascript">
$.ajaxSetup({
  contentType: "application/json; charset=utf-8"
});
// setup some JSON to use
var is_walking = null; 
window.onload = function() {
    document.onkeydown = function(e) {
    switch(e.which) {
        case 37: // left
	    doWork("turnleft");
	    break;

        case 38: // up
	    doWork("walkforward");
	    break;

        case 39: // right
	    doWork("turnright");
	    break;
	
	case 82:
	    refreshScene();

	case 72:
	    increaseResolution();

        default: return; // exit this handler for other keys
    }

    e.preventDefault(); // prevent the default action (scroll / move caret)
    };
    $("#image2").on("click", function(event) {
        var x = event.pageX - this.offsetLeft;
        var y = event.pageY - this.offsetTop;
	var content = {'x': x/this.width, 'y': y/this.height};
	console.log(content);

	var content = JSON.stringify(content);
	$.ajax({
	    type: "POST",
	    url: "querypix",
	    data: content,
	    success: function(result){
		result = JSON.parse(result);
		if (result['object_action'].length > 0){
		    getbuttons(result['object_action'])
		    $("#image").attr("src", "data:image/jpg;base64," + result['img'])
		    $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
		}
	    },
	    async:true});
    });
    refreshScene(true);
}

function querymask(object_id){
	var content = {'obj_id': object_id};
	var content = JSON.stringify(content);

	$.ajax({
	    type: "POST",
	    url: "querymaskid",
	    data: content,
	    success: function(result){
		result = JSON.parse(result);
		$("#image").attr("src", "data:image/jpg;base64," + result['img'])
		$("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
	    },
	    async:true});
}

function getbuttons(result){
    var object_name = result[0][0]
    $('#currentactions').empty();
    $('#selectedcontainer').show();
    var object_name_str = object_name[1] + '.' + object_name[2];
    $('#selectedobject').text(object_name_str)
    for (var i = 0; i < result[0][1].length; i++){
	    var room_info = '[[\"'+object_name[1]+'\", ' + object_name[0] +']]';
	    var action_name = result[0][1][i];
	    var button_room = "<button class='btn btn-primary' onclick='doWork(\""+action_name+"\", "+room_info+")'>"+action_name+"</button>";
	    $('#currentactions').append(button_room);
	
    }
    
}

function decode(encoded) {
  let uncompressed = [];

  /**
   * Create a new array with decoded data
   */
  encoded.map((element, ind) => {
    if (ind % 2 === 0) {
      uncompressed.push(...Array(element).fill(encoded[ind + 1]));
    }
  });

  return uncompressed;
}

var is_visible_instr = false;
function tickvisible(){

	if (!is_visible_instr){
		$("#visibleinstrbutton").text("Ok");
		$("#visible_object_info").show()
		is_visible_instr = true;
	}
	
	else {
		is_visible_instr = false;
		$("#visibleinstrbutton").text("About");
		$("#visible_object_info").hide()
	}
}

// UNUSED
function addButtons(result){
    result = result['resp']['object_action']
    $('#button_objects').empty()
    $('#grab').empty()
    $('#open').empty()
    $('#close').empty()
    $('#switchon').empty()
    $('#switchoff').empty()
    for (var i = 0; i < result.length; i++){
	actions = result[i][1];
	if (actions.indexOf('walktowards') > -1){
	    var room_info = '[[\"'+result[i][0][1]+'\", ' + result[i][0][0] +']]';
	    var button_room = "<button class='btn btn-primary' onclick='doWork(\"walktowards\", "+room_info+")'>"+result[i][0][1]+"</button>";
	    $('#button_objects').append(button_room);
	}
	if (actions.indexOf('grab') > -1){
	    var room_info = '[[\"'+result[i][0][1]+'\", ' + result[i][0][0] +']]';
	    var button_room = "<button onclick='doWork(\"grab\", "+room_info+")'>"+result[i][0][1]+"</button>";
	    $('#grab').append(button_room);
	}

	if (actions.indexOf('open') > -1){
	    var room_info = '[[\"'+result[i][0][1]+'\", ' + result[i][0][0] +']]';
	    var button_room = "<button onclick='doWork(\"open\", "+room_info+")'>"+result[i][0][1]+"</button>";
	    $('#open').append(button_room);
	}
	if (actions.indexOf('close') > -1){
	    var room_info = '[[\"'+result[i][0][1]+'\", ' + result[i][0][0] +']]';
	    var button_room = "<button onclick='doWork(\"close\", "+room_info+")'>"+result[i][0][1]+"</button>";
	    $('#close').append(button_room);
	}

	if (actions.indexOf('switchon') > -1){
	    var room_info = '[[\"'+result[i][0][1]+'\", ' + result[i][0][0] +']]';
	    var button_room = "<button onclick='doWork(\"switchon\", "+room_info+")'>"+result[i][0][1]+"</button>";
	    $('#switchon').append(button_room);
	}
	if (actions.indexOf('switchoff') > -1){
	    var room_info = '[[\"'+result[i][0][1]+'\", ' + result[i][0][0] +']]';
	    var button_room = "<button onclick='doWork(\"switchoff\", "+room_info+")'>"+result[i][0][1]+"</button>";
	    $('#switchoff').append(button_room);
	}
    }
}


function decreaseResolution(){
    var resolution = 400;
    $("#res_val").value(resolution)
    content_json = {'instruction': 'refresh', 'res': resolution}
    var content = JSON.stringify(content_json);
    $.ajax({
	type: "POST",
	url: "increaseres",
	data: content,
	success: function(result){
	    endTime1 = new Date();
	    result = JSON.parse(result);
	    $("#image").attr("src", "data:image/jpg;base64," + result['img'])
	    //$("#image").attr("src", "{{ url_for('static', filename='curr_im.png') }}?"+endTime1.getTime())
	    $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
	    addRoomButtons(result['resp']['rooms'])
	},
	async:true});
}
function increaseResolution(){
    var resolution = 600;
    content_json = {'instruction': 'refresh', 'res': resolution}
    var content = JSON.stringify(content_json);
    $.ajax({
	type: "POST",
	url: "increaseres",
	data: content,
	success: function(result){
	    endTime1 = new Date();
	    result = JSON.parse(result);
	    $("#image").attr("src", "data:image/jpg;base64," + result['img'])
	    //$("#image").attr("src", "{{ url_for('static', filename='curr_im.png') }}?"+endTime1.getTime())
	    $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
	    //addRoomButtons(result['resp']['rooms'])
	},
	async:true});
}
function refreshScene(include_top=false){
    content_json = {'instruction': 'refresh'}
    content_json['include_top'] = include_top;
    console.log(content_json)
    var content = JSON.stringify(content_json);
    $.ajax({
	type: "POST",
	url: "receiver",
	data: content,
	success: function(result){
	    console.log(include_top);
	    endTime1 = new Date();
	    result = JSON.parse(result);
	    $("#image").attr("src", "data:image/jpg;base64," + result['img'])
	    if (include_top){
		    $("#imagetop").attr("src", "data:image/jpg;base64," + result['resp']['image_top'])
	    }
	    //$("#image").attr("src", "{{ url_for('static', filename='curr_im.png') }}?"+endTime1.getTime())
	    $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
	   	addRoomButtons(result['resp']['rooms'])
	    

	    $('#loc_agent').text(result['resp']['other_info']['current_room'])
	    grabbed_obj = result['resp']['other_info']['grabbed_object'];
	    if (grabbed_obj.length > 0){
			var grabb_obj_str = grabbed_obj[0] + "." + grabbed_obj[3];
			$('#grab_agent').text(grabb_obj_str);
	    }
	    else {
	    	$('#grab_agent').text("None");
	    }

	    $("#task_name").text(result['resp']['other_info']['task_name'])
	    $("#num_steps").text(result['resp']['other_info']['step_str'])
	    $('#task_pred').empty()
	    for (var i = 0; i < result['resp']['other_info']['task_preds'].length; i++){
	    	var task_pred = result['resp']['other_info']['task_preds'][i];
	    	var task_elem = '<li>' + task_pred + '</li>'
	    	$('#task_pred').append(task_elem)
	    }
	    addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['object_action'])

	    if (result['exp_name'] != 'debug'){
	    	$("#resetbutton").hide()
	    	$("#scene_id").hide()

	    }

	},
	async:true});

}

function refreshInfo(result){
	$('#loc_agent').text(result['resp']['other_info']['current_room'])
    grabbed_obj = result['resp']['other_info']['grabbed_object'];
    if (grabbed_obj.length > 0){
		var grabb_obj_str = grabbed_obj[0] + "." + grabbed_obj[3];
		$('#grab_agent').text(grabb_obj_str);
    }
    else {
    	$('#grab_agent').text("None");
    }

    $("#task_name").text(result['resp']['other_info']['task_name'])
    $("#num_steps").text(result['resp']['other_info']['step_str'])
    $('#task_pred').empty()
    for (var i = 0; i < result['resp']['other_info']['task_preds'].length; i++){
    	var task_pred = result['resp']['other_info']['task_preds'][i];
    	var task_elem = '<li>' + task_pred + '</li>'
    	$('#task_pred').append(task_elem)
    }
    addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['object_action'])

    if (result['exp_name'] != 'debug'){
    	$("#resetbutton").hide()
    	$("#scene_id").hide()

    }

}

function addVisibleButtons(visible_objects, results){
    $('#visible_objects_grab').empty();
    $('#visible_objects_container').empty();
    
    var count_grab = 0;
    var count_cont = 0;
    for (var i = 0; i < visible_objects.length; i++){
		var room_info = '[[\"'+visible_objects[i][0]+'\", ' + visible_objects[i][1] +']]';
	    var object_name = visible_objects[i][1] + '.' + visible_objects[i][2]
	    var is_close = visible_objects[i][4] == '1';
	    var is_open = visible_objects[i][5] == '1';
	    
	    var button_room;
	    if (is_open){
	    	object_name = "[OPEN] " + object_name;
	    }
	    if (!is_close){
	    	button_room = $("<button class='btn btn-primary'>"+object_name+"</button>");	
	    }
	    else {
	    	button_room = $("<button class='btn btn-success'>"+object_name+"</button>");
	    }
	    button_room.click([results[i]], function (e){
		    querymask(e.data[0][0][0]);
		    getbuttons(e.data);
		});
		var is_grabbable = visible_objects[i][3] == 'grab';
		var new_line = false;
		if (i > 0 && visible_objects[i][1] != visible_objects[i-1][1]){
			new_line = true;
		}

		if (is_grabbable){

			if (new_line && count_grab > 0){
				$('#visible_objects_grab').append('<br>');	
			}
			$('#visible_objects_grab').append(button_room);

			count_grab += 1

		}
		else {
			if (new_line && count_cont > 0){
				$('#visible_objects_container').append('<br>');	
			}
			$('#visible_objects_container').append(button_room);
			count_cont += 1
			
		}
    }
}

function recordGraph(){
    scene_id = $('#scene_id').val()
    console.log('scene_id: ', scene_id);
    content_json = {'instruction': 'reset', 'scene_id': scene_id}
    var content = JSON.stringify(content_json);
    $.ajax({
	type: "POST",
	url: "record_graph_flag",
	data: content,
	success: function(result){
		if (result['record_graph_flag']){
			$("#recordbutton").text("Stop Record")
		}
		else {
			$("#recordbutton").text("Record")	
		}
	    console.log('recordGraph result', result);
	},
	async:true});
}

function addRoomButtons(rooms){
    $('#button_rooms').empty();
    for (var i = 0; i < rooms.length; i++){
	var room_info = '[[\"'+rooms[i][0]+'\", ' + rooms[i][1] +']]';
	var button_room = "<button class='btn btn-primary' onclick='doWork(\"walktowards\", "+room_info+")'>"+rooms[i][0]+"</button>";
	$('#button_rooms').append(button_room);

    }
}

function resetScene(){
    scene_id = $('#scene_id').val()
    console.log(scene_id);
    content_json = {'instruction': 'reset', 'scene_id': scene_id}
    var content = JSON.stringify(content_json);
    $.ajax({
	type: "POST",
	url: "receiver",
	data: content,
	success: function(result){
	    endTime1 = new Date();
	    result = JSON.parse(result);
	    $("#image").attr("src", "data:image/jpg;base64," + result['img'])
	    $("#imagetop").attr("src", "data:image/jpg;base64," + result['resp']['image_top'])
	    $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
	},
	async:true});

}

function doWork(content_str, other_info=null) {
	// ajax the JSON to the server
	content_json = {'instruction': content_str, 'other_info': other_info}
	if (content_str == 'walktowards' && other_info != null){
	    is_walking = other_info;
	
	}
	else {
	    is_walking = null;
	}
	var content = JSON.stringify(content_json);
	startTime = new Date();
	$.post("receiver", content, function(result){

	    $('#currentactions').empty();
	    $('#selectedobject').text('');
	    $('#selectedcontainer').hide();
	    endTime = new Date();
	    result = JSON.parse(result);
	    endTime1 = new Date();
	    $('#loc_agent').text(result['resp']['other_info']['current_room'])
	    $("#image").attr("src", "data:image/jpg;base64," + result['img'])
	    $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
	    //$("#image").attr("src", "{{ url_for('static', filename='curr_im.png') }}?"+endTime1.getTime())
	    endTime2 = new Date();
	    //$("#image2").attr("src", "data:image/png;base64," + result['img2'])
	    timeDiff = endTime - startTime;
	    timeDiff /= 1000;
	    //console.log((endTime - startTime)/1000)
	    //console.log((endTime1 - startTime)/1000)
	    //console.log((endTime2 - startTime)/1000)
        {#console.log('result: ', result)#}

        refreshInfo(result);

	    if (is_walking != null)
	    {
            if (result['resp']['other_info']['close_objects'].includes(is_walking[0][1]) ||
                result['resp']['other_info']['inside_objects'].includes(is_walking[0][1])
            )
            {
                
                addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['object_action'])
                if (result['resp']['other_info']['close_objects'].includes(is_walking[0][1])){
                	querymask(is_walking[0][1]);
		    		// TODO: select here
		    		for (var it = 0; it < result['resp']['object_action'].length; it++){
		    			console.log(result['resp']['object_action'][it][0][0])
		    			if (is_walking[0][1] == result['resp']['object_action'][it][0][0]){
		    				getbuttons([result['resp']['object_action'][it]]);

		    			}
		    			
		    		} 
		    		
                }
                is_walking = null;
            }
            else
            {
                doWork(content_str, other_info);
            }
	    }
	    else
        {
		    addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['object_action'])
	    }
	});
	// stop link reloading the page
}
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="topbuttons">
	<h1>VirtualHome Online Simulator</h1>
    </div>
    <br>
    <div class="topbuttons">
	<p>
	<ul>
	    <li> Use the keys (front, left, right) to move around the scene</li>
	    <li> Use r for refreshing the scene and h for getting a high resolution view </li>
	    <li> As you move, new buttons will appear to interact with objects</li>
	    
	</ul>
	</p>
    </div>
<br>
<div id="canvas" style="";>
    <div id="top_buttons" class="topbuttons">
	<select name="Scene" id="scene_id">
	      <option value="0"> Scene 0 </option>
	      <option value="1"> Scene 1 </option>
	      <option value="2"> Scene 2 </option>
	      <option value="3"> Scene 3 </option>
	      <option value="4"> Scene 4 </option>
	      <option value="5"> Scene 5 </option>
	      <option value="6"> Scene 6 </option>
	</select>
	<button class="btn btn-primary" id="resetbutton" onclick=resetScene()> Reset </button>
	<button class="btn btn-primary" onclick=refreshScene()> Refresh </button>
	<button class="btn btn-primary" onclick=increaseResolution()> View High Res </button>
    <button class="btn btn-primary" id="recordbutton" onclick=recordGraph()> Stop Recording </button>
    </div>
    <br>
    <div style="width: 100%; height: 700px">
	<div style="display: inline-block; width: 30%; vertical-align: top; margin: 10px">
	<div style="width: 80%; margin: auto; height: 50%; vertical-align: top; margin-bottom: 10px">
		<h3 style="width: 40%; display: inline-block;"> Task  </h3>
		<h3 style="width: 100px; display: inline-block;"> #Steps  </h3>
		<span style="width: 10%; display: inline-block; font-size: x-large" id="num_steps"> 0/250  </span>

	    <div class="buttoncontainer statuscontainer" style="height: 80%">
			<span> Task name: </span>
			<span id="task_name">  </span>
			<br>
			<span> Tasks:  </span>
			<ul id="task_pred">  

			</ul>
	    </div>
	</div>
	<div style="width: 80%; margin: auto; height: 30%; vertical-align: top; margin-bottom: 10px">
		<h3> Agent  </h3>
	    <div class="buttoncontainer statuscontainer" style="height: 80%">
		<span> Location: </span>
		<span id="loc_agent">  </span>
		<br>
		<span> Grabbed Object: </span>
		<span id="grab_agent">  </span>
	    </div>
	</div>


	</div>
	<div style="display: inline-block; width: 45%; vertical-align: top">
	    

		<div style="">
			<img style="width: 35%; margin-left: 45%" id="image" src=""></img>
	    </div>
	    <div style="display: inline-block">
			<img style="width: 70%;" id="image2" src=""></img>
			<img style="width: 22%;" id="imagetop" src=""></img>

	    </div>
	   	
	<br>
	<br>
	<div style="display: inline-block; width: 100%; vertical-align: top">
	    <div class="topbuttons">
		<a style="margin-right: 10px"> Walk to </a>
		<div id="button_rooms"> </div>
	    </div>
	    <div id="selectedcontainer" style="display: none; margin: 5%">
		<h3 id="selectedobject"></h3>
		<div id="currentactions" class="buttoncontainer" style="height: 100px">
		</div>
	    </div>
	</div>
	</div>
	<div style="display: inline-block; height; width: 20%; vertical-align: top">
		<h3 style="display: inline-block;"> Visible Objects </h3>
		<button style="display: inline-block;" type="button" class="btn btn-link" id="visibleinstrbutton" onclick="tickvisible()"> About </button>

		<div id="visible_object_info" style="margin-bottom: 10px; display: none">

		Objects are visible when they are in the same room as the agent, unless they are inside some closed container (e.g. an apple inside a fridge). When the objects are close to the agent, the button turns <span style="font-weight: bold; color: green">green</span>.
		</div>
		<div id="visible_objects_all"  style="height: 100%">
			<span style="font-weight: bold"> Grabbable objects </span>
			<div id="visible_objects_grab" class="buttoncontainer" style="height: 40%">
			</div>
			<br>
			<span style="font-weight: bold"> Containers/Surfaces </span>
			<div id="visible_objects_container" class="buttoncontainer" style="height: 30%">
			</div>
		</div>
	</div>
    </div>
</div>
<div>
</div>
</body>
